__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.git
.gitignore
.dockerignore
.env
.env.local
*.md
LICENSE
.vscode
.idea
*.log
*.pot
db.sqlite3
media/
staticfiles/
.DS_Store
node_modules/
.pytest_cache
.coverage
htmlcov/
*.egg-info/
dist/
build/
.github/
